.contents {
  background: linear-gradient(115.31deg, rgb(227, 78, 0) 11.34%, rgb(255, 175, 133) 91.94%);
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .scan_to_pay_text {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(255, 255, 255);
  }

  .expired_time {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    .expired_label {
      font-size: 16px;
      line-height: 24px;
      color: rgb(255, 255, 255);
      min-width: 230px;
    }

    .time_countdown {
      background-color: rgb(239, 67, 7);
      display: flex;
      align-items: center;
      padding: 2px 8px;
      gap: 10px;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      color: rgb(255, 255, 255);

      .time_container {
        display: flex;
      }
    }
  }

  .QR_scanner {
    background-color: rgb(255, 255, 255);
    width: 266px;
    height: 266px;
    padding: 12px;
    border-radius: 12px;
    margin: 20px;

    // img {
    //   --s: 50px;
    //   --t: 4px;
    //   --g: 0px;
    //   padding: calc(var(--g) + var(--t));
    //   outline: var(--t) solid var(--primary-orange-1);
    //   outline-offset: calc(-1 * var(--t));
    //   mask:
    //     conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 / calc(100% - var(--s))
    //       calc(100% - var(--s)),
    //     linear-gradient(#000 0 0) content-box;
    //   transition: 0.4s;
    //   width: 100%;
    //   height: 100%;
    // }
  }

  .bank_img {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    img {
      background-color: white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }

  .acc_holder {
    font-weight: 700;
    line-height: 24px;
  }

  .acc_number {
    font-weight: 700;
    line-height: 24px;
  }

  .copybtn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    height: 34px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .saveQR {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;

    button {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 50px;
      color: rgb(255, 255, 255);
      height: 48px;
      padding: 12px 26px;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .note {
    display: flex;
    gap: 8px;
    color: rgb(255, 255, 255);
    padding: 8px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    .icon {
      color: rgb(255, 255, 255);
    }
  }
}

.inquiry {
  border-radius: 10px;
  width: 100%;
  padding: 16px 24px;
  background-color: white;
  margin: 24px 0 50px 0;

  .text {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    color: rgb(3, 7, 18);
    margin: 10px 0px;
  }

  .body {
    padding: 0px 10px;

    .body_items {
      font-size: 18px;
      line-height: 24px;
      color: rgb(82, 82, 82);
      margin: 5px 0px;
      text-align: justify;
    }
  }
}
