.banner_section {
  position: relative;
  width: 100%;

  .booking_wrapper {
    position: absolute;
    width: 100%;
    max-width: 920px;
    left: 50%;
    transform: translateX(-50%);
    top: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.booking_form {
  width: 100%;
  max-width: 920px;
  background-color: #fff;
  border-radius: 9999px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.date_contents {
  display: flex;
  flex-direction: row;
}

.search_button {
  height: auto;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background-color: #e24d14;
  border: none;
  white-space: nowrap;
  transition: all 0.3s ease;
  &:hover {
    background-color: darken(#e24d14, 5%);
    box-shadow: 0 4px 12px rgba(226, 77, 20, 0.25);
  }
  p,
  svg {
    color: #fff !important;
  }
  svg {
    width: 20px;
    height: 20px;
  }

  @include mobile {
    border-radius: 999px;
    padding: 12px;
    p {
      display: none;
    }
  }
}

.filter_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 0%;
}

.filter_location_container,
.filter_occupancy_container {
  padding: 0;
  margin: 0 24px;
}

.filter_location_container {
  min-width: 132px;
}

.filter_location_container,
.filter_occupancy_container,
.select_date_trigger {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0 !important;

  h5 {
    color: hsl(var(--primary));
  }
}

.select_date_trigger {
  position: relative;
  padding: 0 24px;
}

.display_date_trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #808080;
  }
}

.select_date_wrapper {
  position: relative;
  display: flex;

  &::before,
  &::after,
  & div.select_date_trigger:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 1.2px;
    height: 60%; // This controls the border length
    background-color: #d3d3d3;
    top: 50%;
    transform: translateY(-50%);
  }

  div.select_date_trigger:nth-child(2)::before {
    left: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.occupancy_item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .occupancy_item_text {
    display: flex;
    flex-direction: column;
  }

  .occupancy_item_title {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
  }

  span {
    font-size: 14px;
    color: #555;
  }
}

.explore_button {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 40px;
  border-radius: 60px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  &:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
  }
}

.popover_wrap,
.popover_wrap_2,
.popover_wrap_3 {
  margin-top: 1rem;
}

.popover_wrap {
  transform: translateX(-34px);
}

.popover_wrap_2 {
  min-width: 320px;
  transform: translateX(-24px);
}

.occupancy_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;

  div.occupancy_item:not(:last-child, :first-child) {
    padding: 1rem 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }
}

.location_toggle_group {
  justify-content: start;
  gap: 1rem;
}

.location_item {
  border-radius: 20px;
  padding: 12px 1rem;
  &:hover {
    background-color: hsl(var(--primary) / 80%);
    h4 {
      color: #fff;
    }
  }
}

.location_item[data-state='on'] {
  background-color: hsl(var(--primary));
  h4 {
    color: #fff;
  }
}

.occupancy_item_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;

  button {
    padding: 12px;
    border-radius: 9999px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}
