@import '@/styles/mixins.scss';

.page_container {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
  grid-template-columns: 1fr 287px;
  background-color: #fafafa;

  @include tablet {
    padding: 1rem;
    grid-template-columns: 1fr;
  }

  @include mobile {
    padding: 1rem;
    grid-template-columns: 1fr;
  }


  /* Sidebar */
  .sidebar {
    width: 100%; 
    box-sizing: border-box;
  }
}
