.header_banner_container {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
