
/* ----------------------------------------------------------- */
/* WARNING: NOT MODIFY THIS FILE */
/* ----------------------------------------------------------- */
/* Step 1: Modify file color-preview.json */
/* Step 2: npm run gen-color */
/* ----------------------------------------------------------- */

:root {
  --primary-main: #fd7e14;
--primary-lighter: #ff9e45;
--error-main: #dc3545;
--text-primary: #131313;
--text-secondary: #6D6D6D;
--text-disabled: #BCBCBC;
--text-inverse: #F6F6F6;
--text-icon: #454545;
}

.primary-main {
      color: #fd7e14;
    };
.primary-lighter {
      color: #ff9e45;
    };
.error-main {
      color: #dc3545;
    };
.text-primary {
      color: #131313;
    };
.text-secondary {
      color: #6D6D6D;
    };
.text-disabled {
      color: #BCBCBC;
    };
.text-inverse {
      color: #F6F6F6;
    };
.text-icon {
      color: #454545;
    };


