@import '/src/styles/mixins.scss';

.side_bar {
  width: 30%;
  background-color: white;
  padding: 20px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  height: fit-content;

  @include mobile {
    padding: 20px 16px;
    width: 100%;
    min-height: unset;
  }

  .sidebar_reponsive {

    @include mobile {
      flex: 0 1 0%;
    }

    .text_heading {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 1rem !important;
    }

    .news {
      background-color: #e7642c;
      border-radius: 8px;
      position: relative;
      z-index: 2;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      align-items: center;

      padding: 12px;

      .icon1 {
        margin: 10px;
        color: white;
      }

      .icon2 {
        position: absolute;
        color: white;
        right: 15px;
      }

      .text {
        .text1 {
          font-size: 16px;
          color: white;
          font-style: normal;
          font-weight: 400;
          box-sizing: border-box;
        }

        .text2 {
          font-size: 20px;
          font-weight: 500;
          color: white;
          box-sizing: border-box;
        }
      }
    }

    .ifm {
      align-items: center;
      padding: 16px;
      margin-top: -9px;
      border: 1px solid #ececec;
      border-radius: 0px 0px 8px 8px;
      display: flex;
      align-items: center;

      .ifm1 {
        flex: 1 1 0%;
        box-sizing: border-box;

        .text3 {
          font-size: 18px;
          font-weight: 600;
          line-height: 26px;
          color: #ff7526;
        }

        .text4 {
          line-height: 18px;
          color: #6d6e70;
        }
      }

      .ifm2 {
        height: 44px;
        width: 1px;
        margin: 0px 8px;
        flex: 0 1 1px;
        background-color: #ececec;
      }

      .ifm3 {
        box-sizing: border-box;
        flex: 1 1 0%;

        .text3 {
          font-size: 18px;
          font-weight: 600;
          line-height: 26px;
          color: #ff7526;
        }

        .text4 {
          line-height: 18px;
          color: #6d6e70;
        }
      }
    }
  }

  .main {
    

    @include mobile {
      display: none;
    }

    .box1 {
      margin-top: 8px;
      padding: 16px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      transition: 0.3s;
      color: #131313;
      cursor: pointer;
      display: block;

      &:hover {
        background-color: rgb(253 246 240);
      }
    }

    .box2 {
      margin-top: 8px;
      padding: 16px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      transition: 0.3s;
      color: #131313;
      cursor: pointer;
      display: block;

      &:hover {
        background-color: rgb(253 246 240);
      }
    }

    .box3 {
      height: 1px;
      margin: 16px 0px 8px;
      background-color: #ececec;
    }

    .box4 {
      margin-top: 8px;
      padding: 16px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      transition: 0.3s;
      color: #ff1001;
      cursor: pointer;
      display: block;

      &:hover {
        background-color: rgb(253 246 240);
      }
    }
  }
}
